.Clicker-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.central-canvas {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  align-items: center;
}

.front-canvas {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  pointer-events: none;
}

.back-canvas {
  position: absolute;
  background-color: transparent;
  z-index: 0;
  pointer-events: none;
}

.total-score {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10vh;
  text-align: center;
  font-family: 'Erica One';
  z-index: 2;
}
