.snake {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
}

.snake-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}

.game-field {
  background-color: aliceblue;
}

.game-score {
  display: flex;
}

.game-field {
  background-color: transparent;
}

.game-buttons {
  flex: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.game-button {
  width: 100px;
  height: 50px;
  background-color: white;
  width: 173px;
  height: 115px;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  transition: backgroundColor 1s linear;
}

.game-button:active {
  background-color: #ffffffc9;
}

.right-game-button {
  background-image: url(./../../../images/RightButton.svg);
}

.left-game-button {
  background-image: url(./../../../images/LeftButton.svg);
}

.game-score {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: center;
  padding: 40vh 0px 20px 0px;
}

.score {
  color: #4c4c4c;
  font-family: 'Erica One';
  font-size: 65.484px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 65.484px */
  letter-spacing: -3.929px;
}

.you-new-score {
  color: rgba(234, 197, 13, 0.5);
}
